body, html {
  overflow-x: hidden;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
main, footer {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

h1 {
  font-size: 15vh;
}
h2 {
  font-size: 3vh;
}

h1,h2 {
  margin: 0;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

a, a:visited {
  color: blue;
}

em {
  color: red;
}

footer span{
  font-size: 1.5vh;
  padding-top: .5vh;
  border-top: 1px solid black;
}

@media (prefers-color-scheme: dark) {
  html, body {
      color: white;
      background-color: black;
  }
  footer span {
    border-top: 1px solid white;
  }
}